body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Prevent Material-UI Modal from applying opacity to body */
	opacity: 1 !important;
	transition: opacity 0s !important;
}

html {
	/* Prevent Material-UI Modal from applying opacity to html */
	opacity: 1 !important;
	transition: opacity 0s !important;
}

#root {
	/* Prevent Material-UI Modal from applying opacity to root */
	opacity: 1 !important;
	transition: opacity 0s !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
